.staff {
    h2 {
        margin-bottom: 0;
        text-decoration: underline;
    }

    p {
        margin-top: 0;
    }

    .courses {
        margin-bottom: 0;
    }

    .instructor-website {
        color: $color__main-links;
        font-weight: 700;
    }
}

@media screen and (min-width: 37.5em) {
    .staff {
        @include flex-row-wrap($justify-content: space-between);

        h2 {
            width: 100%;
        }

        article {
            width: 46%;
        }
    }
}