footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #333333;
    color: #ffffff;
    padding: 1rem;
    margin-top: 1.25rem;

    .site-info {
        @include flex-column(center, center, 0);
        text-align: center;

        h2 {
            margin: 10.5px 0;
            font-size: 28px;
        }

        img {
            max-width: 150px;
        }
        
        .footer-credits {
            p {
                margin-top: 0;
                margin-bottom: 21px;
            }
        }

        .footer-nav {
    
            #menu-footer-navigation {
                margin: 0 auto;
                padding: 0;
            }

        }
    }

@media (min-width: 62.5em) {
    padding: 2rem 1rem;

    .site-info {
        @include flex-row(space-evenly, start, 0);

        h2 {
            font-size: 1.75rem;
        }
        
        .footer-credits {
            text-align: left;
        }
    }
}
}