footer {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem;
    margin-top: 1.25rem;

    .site-info {
        // @include flex-column(center, center, 0);
        text-align: center;

        h2 {
            margin: 10.5px 0;
            font-size: 21px;
        }

        p,
        a {
            font-size: 14px;
        }

        a {
            font-weight: 700;
        }

        a:hover {
            color: $color__accent;
        }

        img {
            max-width: 150px;
        }
        
        .footer-credits {
            p {
                margin-top: 0;
                margin-bottom: 21px;
            }
        }

        .footer-nav {
    
            #menu-footer-navigation {
                margin: 0;
                padding: 0;
            }

        }
    }

    @media (min-width: 62.5em) {
        padding: 0;

        .site-info {
            display: grid;
            grid-template-columns: 1fr repeat(3, minmax(auto, 20.83rem)) 1fr;
            padding: 2rem 1rem;
            text-align: left;

            h2 {
                font-size: 1.75rem;
            }
            
            .footer-logo {
                grid-column: 2/3;
                margin: 0;
                
            }
            .footer-credits {
                text-align: left;
            }
            .footer-nav {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }
    }
}