h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: .5em 0;
}

h1 {
	font-size: 2rem;
	font-weight: 400;
}

h2 {
    font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.25rem;
}

@media screen and (min-width: 48em) {
	h1 {
		font-size: 2.5rem;
	}
	
	h2 {
		font-size: 2rem;
	}
	
	h3 {
		font-size: 1.4rem;
	}
}
