// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}


// Centers the element in its container
@mixin horizontal-margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

// Make flex row container
@mixin flex-row($justify-content: flex-start, $align-items: flex-start, $gap: 0) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

// Make flex row wrap container
@mixin flex-row-wrap($justify-content: flex-start, $align-items: flex-start, $gap: 0) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

// Make flex column container
@mixin flex-column($justify-content: flex-start, $align-items: flex-start, $gap: 0) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}
