.main-navigation {
	position: absolute;
	left: 0;
	right: 0;
	top: 57px;
	background-color: $color__header;
	font-size: 0.9rem;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			@include flex-column($align-items: center);
			width: 100%;
			background-color: $color__sub-menu;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			z-index: 99999;
			width: 100%;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				text-align: center;
				width: 100%;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		height: 100%;

		&:hover > a,
		&.focus > a {
			background-color: $color__accent;
		}
	}

	a {
		@include flex-row(center, center);
		align-items: center;
		text-decoration: none;
		padding: 1rem;
		height: 100%;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 50em) {

	.main-navigation {
		@include flex-row(center, center);
		position: relative;
		top: 0;
		font-size: 0.9rem;
		height: 100%;

		.menu-header-navigation-container {
			@include flex-row(center, center);
			height: 100%;

			.nav-menu {
				height: 100%;
			}
		}

		ul {
			li {
				width: 100%;
			}

			ul {
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				width: 200px;
		
				a {
					width: 100%;
				}
			}
		}
	}

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.current_page_item {
	background-color: $color__accent;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}