.post {
    margin-bottom: 4rem;

    .entry-meta {
        margin-bottom: 0.5rem;
    }

    .entry-content {
        margin-top: 1rem;
    }

    .entry-footer {
        @include flex-row($align-items: center, $gap: 3rem);
    }
}