body {
	overflow-x: hidden;
}

.widget-area {
	padding: 3rem 1rem 1rem;
}

.site {
	max-width: 2200px;
	display: grid;
	grid-template-columns: 1fr minmax(0, 1000px) 1fr;
	grid-template-areas:
		"header header header"
		". main ."
		"footer footer footer";

}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	// overflow: hidden;
	padding: 4rem 1rem 1rem;
}

.page-template-left-sidebar .widget-area {
	padding: 3rem 3rem 1rem 1rem;
}

.site-footer {
	grid-area: footer;
}
